:root {
  --blue: #4f89f9;
  --pink: #f2d0fa;
  --white: whitesmoke;
}

.hidden {
  opacity: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.paused {
  opacity: 0.5;
  filter: grayscale();
}

#workout-container {
  min-height: 100vh;
  background-color: var(--pink);
  color: var(--blue);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#workout-container.resting {
  background-color: var(--white);
  color: var(--blue);
}

.exercise {
  margin: 20px 0;
  font-size: 4rem;
}

#timer {
  font-size: 12rem;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
