:root {
  --color-sky-50: oklch(0.977 0.013 236.62);
  --color-sky-300: oklch(0.828 0.111 230.318);
}

.hidden {
  opacity: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.paused {
  opacity: 0.5;
  filter: grayscale();
}

#workout-container {
  height: 100vh;
  background-color: whitesmoke;
  transition: background-color 3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#workout-container.resting {
  background-color: lightskyblue;
}

.exercise {
  text-align: center;
  margin: 20px 0;
  font-size: 4rem;
  line-height: 6rem;
}

#timer {
  font-size: 9rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
